<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
      h1, h3, tr{
          text-align: center;
      }
  </style>
</head>
<body>

<div class="container">
  <h1>My Outing Requests</h1>
  <p><h3>Username: <strong>Gautam</strong><br><br>Outing ID : <strong><%=prevRequests[0].id%></strong></h3></p>  
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
          <th>Outing Reason</th>
          <th>Location</th>
          <th>Permission Status</th>
          <th>Requested Outgoing Time & Date</th>
          <th>Requested Arrival Time & Date</th>
          <th>Actual Arrival Time & Date</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <% prevRequests.forEach( request =>{ %>
        <tr>
          <td><%= request.reason %></td>
          <td><%= request.location %></td>
          <td><%= request.req_status %></td>
          <td><%= request.outtime %></td>
          <td><%= request.intime %></td>
          <td><%= request.actual_intime %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>
